# Byte-compiled / optimized / DLL files
__pycache__

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
venv/
.idea

*.secret/sentinel2_google_api_key.json
*.secure
sentinel2imagery
jupyter
data
docker-compose.yml
